.Bleu{
    color: #5b761e;
}

.color{
    background-color: #f4f4f4;
}

.body{
    background-image: url(image/image.webp);
    box-sizing: border-box;
    text-align: center;
    
} 

header{
    height: 100px; 
    background-color: #e0c8ed; 
    margin: 0px;
}

.logo{
    height: 50px;
    transition: transform .1s;

}

.logo:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    display: flex;
    justify-content: space-around;
}
    
.active a{
    font-size: x-large;
    color: black;
    opacity: 1;
}

.active a:hover{
    font-size: x-large;
    color: black;
    opacity: 0.5;
}

.Center a{
    font-size: x-large;
    color: black;
    display: flex;
    justify-content: center;
    margin: 1%;
    opacity: 1;
}

.Center a:hover{
    font-size: x-large;
    color: black;
    display: flex;
    justify-content: center;
    margin: 1%;
    opacity: 0.5;
}

.ul{
    margin: 0%;
}

.image{
    width: 100%;

}

footer{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}
 
.image2{
    max-width: 40%;
    display: block;
    margin: auto;
}

.texte{
    font-size: 130%;
    display: flex;
    justify-content: center;
}

.texte2{
    font-size:200%;
    display: flex;
    justify-content: center;
}

.titre{
    display: flex;
    justify-content: center;
    margin: 0%;
}

.bouton{
    margin: 0%;
    font-size: 30px;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: #e0c8ed;
    border-bottom: 2px solid #e0c8ed;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}


@media screen and (max-width: 800px) {
    header {
        background-color: #d1ea79;
    }
    .Bleu{
        color: #654976;
    }
    nav a:hover{
        color: #d1ea79;
        border-bottom: 2px solid #d1ea79;
    }  
    
}
